:root{
    --color-accent: #ff3400;
    --color-body: #918ca4; 
    --color-body-darker: #5c5577;
    --color-heading: #1b0760;
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-border: #ccc;
    --border-radius: 30px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
/*typography*/
html{
    /* 62.5% of 16 =10px*/
    font-size: 62.5%;
}
body{
    font-family: inter, arial, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1, h2, h3{
    color: var(--color-heading);
    margin-bottom: 1rem;
    line-height: 1.1;
}
h1{
    /* 1rem = 1x root font size*/
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}
/*links*/
a{
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.20s;
}
.link-arrow:hover:after{
    margin-left: 10px;
}
@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}
/*badges*/
.badges{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
/* object oriented css (2nd principle) sepreate sturcture from skin*/
.badges--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.badges--secondary{
    background-color: var(--color-secondary);
    color: #fff;
}
.badges--small{
    font-size: 1.6rem;
    /*too much padding in card fixed here*/
    padding: 0.5rem 1.5rem;
}
@media screen and (min-width:1024px) {
    .badges{
        font-size: 1.5rem;
    }
    .badges--small{
        font-size: 1.5rem;
    }
}
/*lists*/
.list{
    padding-left: 0;
    color: var(--color-heading);
    list-style: none;
}
.list--inline .list__item{
    display: inline-block;
    /* won't be able to add margins with inline*/
    margin-right: 2rem;
}
.list--tick{
    list-style-image: url(../images/tick.svg);
    /*tick was hidden used padding to bring it in*/
    padding-left: 3rem;
}
/*using nesting to set space btwn list and tick*/
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
@media screen and (min-width:1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
}
/*icons*/
.icon{
    width: 40px;
    height: 40px;
}
.z--icon{
    height: 90px;
}
/*icon small was created because of quote icon*/
.icon--small{
    height: 30px;
    width: 30px;
}
.icon--primary{
    fill: var(--color-primary);
    /*fill is used to set color in svg files*/

}
.icon--white{
    fill: #fff;
}
.icon-container{
    background: #f3f9fa;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    /* does not encompass element reason height and width don't apply to inline solu below*/
    display: inline-flex;
    /* used inline-block and didn't use block because we might put icon next to an element ant it will take up all space*/
    /*but i need to used justify content to place item in center so i used inline-flex*/
    justify-content: center;
    align-items: center;
}
.icon-container--accent{
    background-color: var(--color-accent);
}
/*buttons*/
.btn{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    /*to sepreate from other element ver*/
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    /* btn--block used on a doesn't put text in center solu below*/
    text-align: center;
    white-space: nowrap;
}
.btn .icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
.btn--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.btn--primary:hover{
    background-color: #3a8ffd;
}
.btn--secondary{
    background-color: var(--color-secondary);
    color: #fff;
}
.btn--secondary:hover{
    background-color: #00c8eb;
}
.btn--accent{
    background-color: var(--color-accent);
    color: #fff;
}
.btn-accent:hover{
    background-color: #ec3000;
}
.btn--block{
    width: 100%;
    display: inline-block;
    /*a elements are inline by defualt and if u give inline elements width it won't apply*/

}
.btn--stretched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn--outline{
    background-color: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}
.btn--outline:hover{
    background-color: var(--color-heading);
    color: #fff;
}
@media screen and (min-width:1024) {
    .btn{
        font-size: 1.5rem;
    }
}
/*inputs*/
.input{
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: var(--color-heading);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}
::placeholder{
    color: #cdcbd7;
}
/*div is a block lvl element so the border grew to entire width.. to max the input group do same i used flex and flex growth*/
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}
/* had to remove border from input so i could fit search in it so i used nesting for input groups*/
.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem; /*text spacing from border*/
}
/*margin around button made it ugly had to use nesting */
.input-group .btn{
    margin: 4px;
}
@media screen and (min-width:1024px) {
    .input{
        font-size: 1.5rem;
    }
}
/*cards*/
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}
.card__header,
.card__body{
    padding: 2rem 3rem;
}
.card--primary .card__header{
background-color: var(--color-primary);
color: #fff;
}
.card--secondary .card__header{
background-color: var(--color-secondary);
color: #fff;
}
/*badge got lost in card because same colore had to use nesting*/
.card--secondary .badges--secondary{
    background-color: #02cdf1;
}
/*plans*/
.plan__name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}
.plan__description{
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;  
  display: block;
}
.plan .list__item{
    margin-bottom: 2rem;
}
.plan--popular .card__header{
    position: relative;
    /* used to position popular tag  absolute to header*/
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    /* because it's an inline element and we want the width to apply but don't want it to take up all line we used inline-block*/
    position: absolute;
    top: -6px;
    right: 5%;
}
@media screen and (min-width:1024px) {
   .plan__name{
    font-size: 1.4rem;
   } 
   .plan__price{
   font-size: 5rem;
   }
   .plan__billing-cycle{
    font-size: 1.6rem;
   }
   .plan__description{
    font-size: 1.7rem;
   }
}
/*media*/
.media{
    display: flex;
}
.media__title{
    margin-top: 0;
}
.media__body{
    margin: 0 2rem;
}
.media__image{
    margin-top: 1rem;
}
/*quotes*/
.quote{
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
}
.quote__text::before {
    content: open-quote;
}
.quote__text::after{
    content: close-quote;
}
.quote__author{
    font-size: 2.4rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}
.quote__organization{
    font-size: 2rem;
    margin-top: 0;
    opacity: 0.4;
    font-style: normal;
}
.quote__line{
    position: relative;
    /*use relative pos to postion it relative to the body element and itself moving it up a bit*/
    bottom: 10px;
}
@media screen and (min-width:1024px) {
    .quote{
        font-size: 2rem;
    }
    .quote__author{
        font-size: 2.4rem;
    }
    .quote__organization{
        font-size: 1.6rem;
    }
}
/*grid*/
.grid{
    display: grid;
}
@media screen and (min-width:768px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media screen and (min-width:1024px) {
    .grid--1x3{
        grid-template-columns: repeat(3, 1fr);
    }
}
/*testimonials*/
.testimonial{
    padding: 3rem; /*padding btwn testimonial and container*/
}
.testimonial__image{
    position: relative;
}
/* had to use the > (direct child tag) to refer to the image as i needed a container to postion the quote icon and didn't want too many classes*/
.testimonial__image >img {
    width: 100%;
    /* the image was not responsive so i used 100% to make it fill it"s grid space in the process also making it resize with it*/
}
/* again used direct chid to terget icon container*/
.testimonial__image > .icon-container{
    position: absolute;
    top: 3rem;
    right: -32px;
    /* the value we set for icon previously was 64px so i divide it by 2 to get the offset of icon placement used negative value to place correctly*/
}
@media screen and (min-width:764px) {
   .testimonial .quote,
   .testimonial .quote__author{
    font-size: 2.4rem;
   } 
   .testimonial .quote{
    margin-left: 6rem;
   }
}
/*call outs*/
.callout{
    padding: 4rem;
    border-radius: 5px;
}
.callout--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.callout__heading{
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}
/* so the justify and align content of the grid is set to strech my deafult making it to strech n fill grid we used align self to allign just the a or button itself */
.callout .btn {
    justify-self: center;
    align-self: center;
    /*very important do not put the anchor for the button in a div it will break the code the div block will overide the grid display*/
}
.callout__content{
    text-align: center;
}
@media screen and (min-width:768px) {
    /*on the desktop version the button is too small so the rest of the fr space is wasted so i use auto on grid to
    make it only take as much space as it needs and justify self to start to make it start atfer text*/
    .callout .grid--1x2{
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: left;
    }
    .callout .btn{
        justify-self: start;
    }
}
/*collapsible*/
.collapsible__header {
    display: flex;
    justify-content: space-between;
}
.collapsible__heading{
    margin-top: 0;
    font-size: 3rem;
}
.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.collapsible__content{
 /* orignally i used  display: none; but wanted to add an animaation but was not able to because this is no display
 so it won't apply instead i used max-height but the content was still visible because of overflow so i set it to hidden*/
 max-height: 0;
 overflow: hidden;
 opacity: 0;
 transition: all 0.3s;
 /*to make it better i added opacity and changed transition to all so the time will be applied to all animations*/
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
    /* note i used max height because  if i used just height and set it to 100vh it will take up the enitire vh but
    now that i used max the height will be dertmined by the content and i can now add transition effects*/
}
/*blocks*/
.block{
    /* so i used an in line variable check skewed block to find out why incase u forget future dumb me*/
    --padding-vertical:6rem;
    padding: var(--padding-vertical) 2rem;
}
.block__header{
    text-align: center;
    /* so i wrped the 2 elements that need to be in the center and gave it a class because if i apply text align directly all the elements in the 
    block will have their text centered*/ 
}
.block__heading{
    margin-top: 0;
}
.block--dark{
    background: #000;
    color: #7b858b;
}
.block--dark .block__heading{
    color: #fff;
}
.block--skewed-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
    /* u forgot didn't u lol  so the padding of paragraph in the skewed block was akward and i wanted to add an extra padding to the bottom
    so i decided to use a variable so i can apply the caculation fumnction an add a number of rem to the bottom this way if i ever have to maintain the code
    i only need to change the variable genius huh dumb me*/
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block--skewed-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    /* u forgot didn't u lol  so the padding of paragraph in the skewed block was akward and i wanted to add an extra padding to the bottom
    so i decided to use a variable so i can apply the caculation fumnction an add a number of rem to the bottom this way if i ever have to maintain the code
    i only need to change the variable genius huh dumb me*/
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.container {
    max-width: 1140px;
    /* so very important the  width of the block strecthed throught the vw making the content streched but that is not what we want we want the 
    content to to only stay in the alloted space so we created this contrainer class style ... notes 1. the container is not linked to any specfic
    element and can be used anywhere we want a max width of what is in the container ...2. we can create variation depending on the situation and ...
    the most impotant 3 we cannot use this on colored background blocks so we wrap the content in something and give it this class instead work smarter not harder*/
    margin: 0 auto;
    /* so we applied the container and the content  or block shifted  left so we set the horizontal margin to 0 so that the umm remaining space will be shared 
    equally btw the 2 sides*/
}
/*nav*/
.nav{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}
.nav__list{
    width: 100%;
    margin: 0;
}
.nav__item{
    padding: 0.5rem 2rem; /* items where so close to border used vertical padding*/
    border-bottom: 1px solid #222;
    /* set color here before but wont apply because links have they own color solu below*/
}
.nav__item>a{
    color: #d2d0db;
    transition: color 0.4s;
}
.nav__item>a:hover {
    color: #fff;
}
.nav--toggler{
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}
/* so i wanted to make sure the opcity touch only applied to the nav toggler so i used a double class selector without space*/
.nav.collapsible--expanded .nav--toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}
.nav__brand{
    transform: translateY(1px); /* used to move up or down u get the pic*/
}
@media screen and (min-width:768px) {
    .nav--toggler{
        display: none; /*hid the nav toggler for wider screens*/
    }
    .nav__list{
        width: auto;
        display: flex;
        font-size: 1.6rem;
        /* so the list was still invisble until click still following the rules of expanded state so i fixed it below*/
        max-height: 100%;
        opacity: 1;
    }
    .nav__item{
        border: 0;
    }
}
/*hero*/
.hero{
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.hero__tagline{
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}
.hero__image{
    width: 100%;
    margin-top: 90px;
    margin-left: 10px;
    border-radius: 4px;
}
@media screen and (min-width:768px) {
    .hero__content{
        text-align: left;
        justify-self: center;
    }
    .hero__image{
        margin-left: 100px;
        margin-top: 180px;
    }
}
/*domain block*/
.block-domain .input-group{
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px;
}
.block-domain__price{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
}
@media screen and (min-width:768px) {
    .block-domain__price{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        max-width: 700px;
        margin: 0 auto;
    }
}