:root{
    --color-accent: #ff3400;
    --color-body: #918ca4; 
    --color-body-darker: #5c5577;
    --color-heading: #1b0760;
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-border: #ccc;
    --border-radius: 30px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
/*typography*/
html{
    /* 62.5% of 16 =10px*/
    font-size: 62.5%;
}
body{
    font-family: inter, arial, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1, h2, h3{
    color: var(--color-heading);
    margin-bottom: 1rem;
}
h1{
    /* 1rem = 1x root font size*/
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}
/*links*/
a{
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.20s;
}
.link-arrow:hover:after{
    margin-left: 10px;
}
@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}
/*badges*/
.badges{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
/* object oriented css (2nd principle) sepreate sturcture from skin*/
.badges--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.badges--secondary{
    background-color: var(--color-secondary);
    color: #fff;
}
.badges--small{
    font-size: 1.6rem;
    /*too much padding in card fixed here*/
    padding: 0.5rem 1.5rem;
}
@media screen and (min-width:1024px) {
    .badges{
        font-size: 1.5rem;
    }
    .badges--small{
        font-size: 1.5rem;
    }
}
/*lists*/
.list{
    padding-left: 0;
    color: var(--color-heading);
    list-style: none;
}
.list--inline .list__item{
    display: inline-block;
    /* won't be able to add margins with inline*/
    margin-right: 2rem;
}
.list--tick{
    list-style-image: url(../images/tick.svg);
    /*tick was hidden used padding to bring it in*/
    padding-left: 3rem;
}
/*using nesting to set space btwn list and tick*/
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
@media screen and (min-width:1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
}
/*icons*/
.icon{
    width: 40px;
    height: 40px;
}
/*icon small was created because of quote icon*/
.icon--small{
    height: 30px;
    width: 30px;
}
.icon--primary{
    fill: var(--color-primary);
    /*fill is used to set color in svg files*/

}
.icon--white{
    fill: #fff;
}
.icon-container{
    background: #f3f9fa;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    /* does not encompass element reason height and width don't apply to inline solu below*/
    display: inline-flex;
    /* used inline-block and didn't use block because we might put icon next to an element ant it will take up all space*/
    /*but i need to used justify content to place item in center so i used inline-flex*/
    justify-content: center;
    align-items: center;
}
.icon-container--accent{
    background-color: var(--color-accent);
}
/*buttons*/
.btn{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    /*to sepreate from other element ver*/
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    /* btn--block used on a doesn't put text in center solu below*/
    text-align: center;
    white-space: nowrap;
}
.btn-primary{
    background-color: var(--color-primary);
    color: #fff;
}
.btn-primary:hover{
    background-color: #3a8ffd;
}
.btn-secondary{
    background-color: var(--color-secondary);
    color: #fff;
}
.btn-secondary:hover{
    background-color: #00c8eb;
}
.btn-accent{
    background-color: var(--color-accent);
    color: #fff;
}
.btn-accent:hover{
    background-color: #ec3000;
}
.btn--block{
    width: 100%;
    display: inline-block;
    /*a elements are inline by defualt and if u give inline elements width it won't apply*/

}
.btn--stretched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn--outline{
    background-color: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}
.btn--outline:hover{
    background-color: var(--color-heading);
    color: #fff;
}
@media screen and (min-width:1024) {
    .btn{
        font-size: 1.5rem;
    }
}
/*inputs*/
.input{
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: var(--color-heading);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}
::placeholder{
    color: #cdcbd7;
}
/*div is a block lvl element so the border grew to entire width.. to max the input group do same i used flex and flex growth*/
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}
/* had to remove border from input so i could fit search in it so i used nesting for input groups*/
.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem; /*text spacing from border*/
}
/*margin around button made it ugly had to use nesting */
.input-group .btn{
    margin: 4px;
}
@media screen and (min-width:1024px) {
    .input{
        font-size: 1.5rem;
    }
}
/*cards*/
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}
.card__header,
.card__body{
    padding: 2rem 3rem;
}
.card--primary .card__header{
background-color: var(--color-primary);
color: #fff;
}
.card--secondary .card__header{
background-color: var(--color-secondary);
color: #fff;
}
/*badge got lost in card because same colore had to use nesting*/
.card--secondary .badges--secondary{
    background-color: #02cdf1;
}
/*plans*/
.plan__name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}
.plan__description{
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;  
  display: block;
}
.plan .list__item{
    margin-bottom: 2rem;
}
.plan--popular .card__header{
    position: relative;
    /* used to position popular tag  absolute to header*/
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    /* because it's an inline element and we want the width to apply but don't want it to take up all line we used inline-block*/
    position: absolute;
    top: -6px;
    right: 5%;
}
@media screen and (min-width:1024px) {
   .plan__name{
    font-size: 1.4rem;
   } 
   .plan__price{
   font-size: 5rem;
   }
   .plan__billing-cycle{
    font-size: 1.6rem;
   }
   .plan__description{
    font-size: 1.7rem;
   }
}
/*media*/
.media{
    display: flex;
}
.media__title{
    margin-top: 0;
}
.media__body{
    margin: 0 2rem;
}
.media__image{
    margin-top: 1rem;
}
/*quotes*/
.quote{
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
}
.quote__text::before {
    content: open-quote;
}
.quote__text::after{
    content: close-quote;
}
.quote__author{
    font-size: 2.4rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}
.quote__organization{
    font-size: 2rem;
    margin-top: 0;
    opacity: 0.4;
    font-style: normal;
}
.quote__line{
    position: relative;
    /*use relative pos to postion it relative to the body element and itself moving it up a bit*/
    bottom: 10px;
}
@media screen and (min-width:1024px) {
    .quote{
        font-size: 2rem;
    }
    .quote__author{
        font-size: 2.4rem;
    }
    .quote__organization{
        font-size: 1.6rem;
    }
}
/*grid*/
.grid{
    display: grid;
}
@media screen and (min-width:768px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media screen and (min-width:1024px) {
    .grid--1x3{
        grid-template-columns: repeat(3, 1fr);
    }
}
/*testimonials*/
.testimonial{
    padding: 3rem; /*padding btwn testimonial and container*/
}
.testimonial__image{
    position: relative;
}
/* had to use the > (direct child tag) to refer to the image as i needed a container to postion the quote icon and didn't want too many classes*/
.testimonial__image >img {
    width: 100%;
    /* the image was not responsive so i used 100% to make it fill it"s grid space in the process also making it resize with it*/
}
/* again used direct chid to terget icon container*/
.testimonial__image > .icon-container{
    position: absolute;
    top: 3rem;
    right: -32px;
    /* the value we set for icon previously was 64px so i divide it by 2 to get the offset of icon placement used negative value to place correctly*/
}
@media screen and (min-width:764px) {
   .testimonial .quote,
   .testimonial .quote__author{
    font-size: 2.4rem;
   } 
   .testimonial .quote{
    margin-left: 6rem;
   }
}
/*call outs*/
.callout{
    padding: 4rem;
    border-radius: 5px;
}
.callout--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.callout__heading{
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}
/* so the justify and align content of the grid is set to strech my deafult making it to strech n fill grid we used align self to allign just the a or button itself */
.callout .btn {
    justify-self: center;
    align-self: center;
    /*very important do not put the anchor for the button in a div it will break the code the div block will overide the grid display*/
}
.callout__content{
    text-align: center;
}
@media screen and (min-width:768px) {
    /*on the desktop version the button is too small so the rest of the fr space is wasted so i use auto on grid to
    make it only take as much space as it needs and justify self to start to make it start atfer text*/
    .callout .grid--1x2{
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: left;
    }
    .callout .btn{
        justify-self: start;
    }
}
/*collapsible*/
.collapsible__header {
    display: flex;
    justify-content: space-between;
}
.collapsible__heading{
    margin-top: 0;
    font-size: 3rem;
}
.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.collapsible__content{
 /* orignally i used  display: none; but wanted to add an animaation but was not able to because this is no display
 so it won't apply instead i used max-height but the content was still visible because of overflow so i set it to hidden*/
 max-height: 0;
 overflow: hidden;
 opacity: 0;
 transition: all 0.3s;
 /*to make it better i added opacity and changed transition to all so the time will be applied to all animations*/
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
    /* note i used max height because  if i used just height and set it to 100vh it will take up the enitire vh but
    now that i used max the height will be dertmined by the content and i can now add transition effects*/
}