<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">item1</h2>
                <img src="images/chevron.svg" class="icon icon--white collapsible__chevron"> 
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, laudantium.
    </div>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">item1</h2>
                <img src="images/chevron.svg" class="icon icon--white collapsible__chevron"> 
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, laudantium.
    </div>
  </div>
  
  /* remember to add the js code right before the body for faster rendering of the broswer */
  <script src="js/main.js"></script>