<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
     <header class="block__header hero__content">
         <h1 class="block__heading">Where Technology Meets Imagination</h1>
         <p class="hero__tagline">"Transforming Ideas Into Reality"</p>
         <a href="#" class="btn btn--accent btn--stretched">JOIN US</a>
        </header>
         <picture>
            <source
             type="image/webp" 
             srcset="images/1.webp" 
            />
            <source
             type="image/png" 
             srcset="images/1.png" 
            />
            <img class="hero__image" src="images/1.png" alt="">
        </picture>
    </div>
</section>