<nav class="nav collapsible">
    <a href="/">
      <img class="z--icon nav__brand" src="images/file-removebg-preview.png" alt="">
    </a>
    <svg class="icon icon--white nav--toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">hosting</a></li>
      <li class="nav__item"><a href="#">vps</a></li>
      <li class="nav__item"><a href="#">domain</a></li>
      <li class="nav__item"><a href="#">pricing</a></li>
  </ul>
</nav>