<section class="block">
    <header class="block__header">
        <h2>Discover What Our Clients Are Raving About</h2>
        <p>"Our clients love the exceptional service and outstanding results we deliver. Hear their success stories!"</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img src="images/testimonial.jpg" alt="A happy smiling customer">
                    <span class="icon-container icon-container--accent">
                        <svg class="icon icon--white icon--small">
                            <use xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quote__text">"Working with this team was a game-changer for our business. Their expertise and dedication transformed our website, driving remarkable growth and engagement. Highly recommend!"</p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                  <svg class="icon icon--primary quote__line">
                                      <use xlink:href="images/sprite.svg#line"></use>
                                  </svg>
                            </div>
                             <div class="media__body">
                              <h3 class="media__title quote__author">John Smith</h3>
                              <p class="quote__organization">ABC Company</p>
                             </div>
                        </div>  
                    </footer>
                 </blockquote>
            </div>
          </div>
    </div>
  </section>